@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #1a1a1a;
  --text-color-dark: #ffffff;
}

.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
